{% extends "layout.jinja2" %}

{% block content %}
<!DOCTYPE html>
<html>
  
<head>
  <title>Opening Your MaaS_ML Analytics Dash App</title>
  <meta http-equiv="refresh" 
        content="0; url = /dashapp/" />
</head>
  
<body onload="autoRerender()">

<script>
function autoRerender() {
  window.open("/dashapp/", "_self");
}
</script>

  <p style="text-align:center;">
    If your browser supports Refresh,
    you'll be redirected to the Dash App
    Homepage, in a second.
  </p>
  
</body>
  
</html>
{% endblock %}
